name: Docker Image

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths:
      - Dockerfile
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/docker.yml'
  pull_request:
    branches:
      - main
    paths:
      - Dockerfile
      - '**.go'
      - 'go.mod'
      - 'go.sum'
  workflow_dispatch:

env:
  IMAGE_NAME: mdeous/plasmid

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    permissions:
      packages: read
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4

      - name: Log into GitHub container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: mdeous
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get plasmid version
        id: get_version
        run: |
          version=""
          if [ "${GITHUB_REF}" == "refs/heads/main" ]; then
            version="nightly"
          else
            version="$(make version)"
          fi
          echo "Version: ${version}"
          echo "version=${version}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
        with:
          install: true

      - name: Pull latest image
        run: docker pull ghcr.io/${IMAGE_NAME}:latest
        continue-on-error: true

      - name: Build image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          pull: true
          push: false
          cache-from: ghcr.io/${{ env.IMAGE_NAME }}:latest
          tags: ${{ env.IMAGE_NAME }}:ci
          outputs: type=docker,dest=/tmp/image.tar
          build-args: "VERSION=${{ steps.get_version.outputs.version }}"

      - name: Upload image archive
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')
        with:
          name: plasmid-image
          path: /tmp/image.tar

  publish:
    name: Publish
    needs: build
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    strategy:
      matrix:
        registry:
          - ghcr.io
          - docker.io
        include:
          - registry: ghcr.io
            secret: GITHUB_TOKEN
          - registry: docker.io
            secret: DOCKER_TOKEN

    steps:
      - name: Download image archive
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v4
        with:
          name: plasmid-image
          path: /tmp/

      - name: Import image
        run: docker load --input /tmp/image.tar

      - name: Log into Docker registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ matrix.registry }}
          username: mdeous
          password: ${{ secrets[matrix.secret] }}

      - name: Get image version
        id: get_version
        run: |
          version=""
          if [ "${GITHUB_REF}" == "refs/heads/main" ]; then
            version="latest"
          else
            version="${GITHUB_REF##*/}"
          fi
          echo "Image version: ${version}"
          echo "version=${version}" >> $GITHUB_OUTPUT

      - name: Tag image
        run: docker tag ${IMAGE_NAME}:ci ${{ matrix.registry }}/${IMAGE_NAME}:${IMAGE_VERSION}
        env:
          IMAGE_VERSION: ${{ steps.get_version.outputs.version }}

      - name: Tag latest image
        if: ${{ steps.get_version.outputs.version }} != 'latest'
        run: docker tag ${IMAGE_NAME}:ci ${{ matrix.registry }}/${IMAGE_NAME}:latest

      - name: Push image to container registry
        run: docker push ${{ matrix.registry }}/${IMAGE_NAME}:${IMAGE_VERSION}
        env:
          IMAGE_VERSION: ${{ steps.get_version.outputs.version }}

      - name: Push latest image to container registry
        if: ${{ steps.get_version.outputs.version }} != 'latest'
        run: docker push ${{ matrix.registry }}/${IMAGE_NAME}:latest
