{{define "inspector_detail"}}
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h3 style="margin: 0;">{{.Direction}} - {{.Endpoint}}</h3>
    <button class="outline" hx-get="/ui/inspector/close" hx-target="#exchange-detail" hx-swap="innerHTML">Close</button>
</div>
<table>
    <tr><th>Time</th><td>{{.Timestamp}}</td></tr>
    <tr><th>SP</th><td>{{.ServiceProvider}}</td></tr>
    <tr><th>NameID</th><td>{{.NameID}}</td></tr>
    <tr><th>Relay State</th><td>{{.RelayState}}</td></tr>
    <tr><th>Remote</th><td>{{.RemoteAddr}}</td></tr>
    <tr><th>Response Signed</th><td>{{if .Signed}}Yes{{else}}No{{end}}</td></tr>
    {{if eq .Direction "Response"}}
    <tr><th>Assertion Signed</th><td>{{if .AssertionSigned}}Yes{{else}}<strong>No</strong>{{end}}</td></tr>
    {{end}}
</table>
{{if .Tampered}}
<h4>Tampered Fields</h4>
<table>
    <thead><tr><th>Field</th><th>Original</th><th>Tampered</th></tr></thead>
    <tbody>
    {{range .Modifications}}
    <tr><td>{{.Field}}</td><td><code>{{.OldValue}}</code></td><td><code>{{.NewValue}}</code></td></tr>
    {{end}}
    </tbody>
</table>
{{end}}
{{if .Attributes}}
<h4>Attributes</h4>
<table>
    <thead><tr><th>Name</th><th>Values</th></tr></thead>
    <tbody>
    {{range .Attributes}}
    <tr><td>{{.Name}}</td><td>{{range $i, $v := .Values}}{{if $i}}, {{end}}{{$v}}{{end}}</td></tr>
    {{end}}
    </tbody>
</table>
{{end}}
<h4>Raw XML</h4>
<pre class="xml-display">{{.RawXML}}</pre>
{{end}}
